@using crud_with_ajax.Models
@model List<Role>
@{
    ViewData["Title"] = "Index";
}
<br />
<h2 class="text-primary text-center">Role</h2>
<br />
<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>
